.head-menu{
    background: linear-gradient(to right, #0080FF, #00CFFF); /* Fondo degradado de azul */
    color: #fff;
    height: 150px;
    width:100%
 }
.logo{
    letter-spacing: 3px;
    font-size: 40px;
    color: #fff;
    align-items: center;
   
}
.logo-nav{
    display: flex;
    color: white;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;

  }  
.txt-nav{
    flex-grow: 1;
}

.txt-nav ul{
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-around;
}
.txt-nav  a{
    color: white;
    text-decoration: none
    
}